@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Balsamiq+Sans&family=Fredoka+One&family=Lobster&display=swap");
:root {
  --main-font: "Fredoka One", cursive;
  --secondary-font: "Balsamiq Sans", cursive;
  --orange: rgb(250, 198, 119);
  --silver: rgb(235, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  overflow-x: hidden;
}
.navbar-brand {
  font-family: var(--main-font);
  letter-spacing: 0.2rem;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: black !important;
  font-weight: 700;
  font-family: var(--secondary-font);
}
.navbar-toggler {
  outline: none !important;
}
header {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("img/background.jpg");
  background-size: cover;
}
.shorten {
  display: flex;
}
.input {
  border-radius: 20px;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0 50px;
  margin-right: 10px;
  height: 50px;
}
.op-inp {
  width: 70%;
}
.op-icon {
  margin-left: 20px;
  display: flex;
  width: max-content;
}
@media (max-width: 650px) {
  .shorten {
    flex-direction: column;
    justify-content: center;
  }
  .op-inp,
  .op-icon {
    width: 100%;
  }
  .op-icon {
    margin: 10px 0;
    justify-content: center;
  }
}
.search,
.done {
  border: 2px var(--silver) solid;
  border-radius: 50%;
  background: var(--orange);
  color: black;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.banner {
  justify-content: center;
  align-items: center;
}
#link {
  font-size: 25px;
  font-family: var(--main-font);

  color: var(--silver);
}
.title {
  font-size: 65px;
  margin-top: 140px;
  font-family: var(--main-font);
  letter-spacing: 0.2rem;
  color: var(--orange);
}
.icon {
  transform: rotate(-90deg);
  font-size: 70px;
}

.subtext {
  font-size: 32px;
  color: var(--silver);
  font-family: var(--secondary-font);
}
#out {
  font-size: 15px;
  color: var(--silver);
  font-family: var(--secondary-font);
}
#result {
  font-size: 20px;
  color: var(--orange);
  font-family: var(--secondary-font);
}
.link-out {
  margin: 8px auto;
  display: flex;
}
.link-out > * {
  margin: 0;
  padding: 0;
}
.link-out p {
  min-width: 65%;
  overflow-wrap: break-word;
}
.link-out a {
  width: 35%;
  margin-left: 20px;
  color: var(--orange);
}
@media (max-width: 550px) {
  .link-out {
    display: block;
  }
  .link-out p,
  .link-out a {
    width: 100%;
    margin-left: 0;
  }
  .input {
    height: 40px;
  }
}
@media (max-width: 990px) {
  .head-text {
    font-size: 55px;
  }
  .subtext {
    font-size: 30px;
  }
}
@media (max-width: 680px) {
  .head-text {
    font-size: 45px;
  }
  .subtext {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .head-text,
  .subtext {
    text-align: center;
  }
  .title {
    margin-top: 100px;
  }
  #link {
    font-size: 20px;
  }
}
@media(max-width:768px)
{
    .link-out a {
        text-align: right;
        margin-right: 20px;
    }
}